@import '../commons/variables';
@import '../commons/placeholders';
@import '../commons/mixins';

.container {
    position: relative;
    overflow: hidden;

    .scene {
        position: absolute;
        z-index: 2;
        top: 50%;
        left: 50%;
        width: 100px;
        height: 100px;
        transform-origin: 50% 50% 0;
        border: solid 1px #000;
        pointer-events: auto;
    }

    .item {
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 50%;
        width: 100px;
        height: 100px;
        transform-origin: 50% 50% 0;
        background: #eee;
        pointer-events: auto;
    }
}
