@import '../commons/variables';
@import '../commons/placeholders';
@import '../commons/mixins';

.container {
    position: relative;
    overflow: hidden;
    touch-action: none;
    user-select: none;

    .scene {
        position: absolute;
        z-index: 2;
        top: 50%;
        left: 50%;
        width: 100px;
        height: 100px;
        transform-origin: 50% 50% 0;
        border: solid 1px #f4a200;
        pointer-events: none;
        user-select: none;

        .label {
            top: 100%;
            right: auto;
            bottom: auto;
            left: -1px;
        }
    }

    .item {
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 50%;
        width: 100px;
        height: 100px;
        transform-origin: 50% 50% 0;
        background-color: #333;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        pointer-events: none;
        user-select: none;
    }

    .label {
        position: absolute;
        right: 0;
        bottom: 100%;
        padding: 1px 2px;
        border: solid 1px #fc0;
        background: #fff;
        color: #000;
        font-size: 8px;
    }
}
