@import './commons/variables';
@import './commons/placeholders';
@import './commons/mixins';

.container {
    @extend %fullscreen;
    display: flex;
    flex-direction: column;

    .joystick {
        flex-grow: 1;
    }
}
